 <div class="acc-container">
            <div class="list">
                <div class="acc-menu">
                    <li class="acc-item" id="profile">
                    <a href="#profile" class="acc-btn"><i class="far fa-user-circle"></i>Thông Tin Cá Nhân</a>
                <div class="smenu">
                    <button id="show-info" class="btn-info"> Thông Tin Cá Nhân</button>
                    <button id="show-update" class="btn-info"> Cập Nhật Thông Tin </button>
                </div>
            </li>
        </div>
        <div class="acc-menu">
            <li class="acc-item" id="setting">
                <a href="#setting" class="acc-btn"><i class="fas fa-cogs"></i>Cài Đặt</a>
                <div class="smenu">
                    <button id="btn-update-pass" class="btn-info"> Đổi Mật Khẩu </button>
                </div>
            </li>
        </div>
        </div>
            <div class="acc-content">
                <div id="acc-main" class="acc-main">
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5fafbb923393b712b96488590b8f781f.png?fbclid=IwAR2teEqkHXzgemZxYjgob1WCpsmucRim0G0-IySgtWDoUgoD0i3uOM85ovc" alt="">
                    <h2>Trang Thông Tin Cá Nhân</h2>
                </div>
                <div id="acc-with-info" class="acc-with-info">
                    <div class="acc-content-header">
                        <h2>Hồ Sơ Của Tôi</h2>
                        <p>Quản lý thông tin hồ sơ để thuận tiện trao đổi</p>
                    </div>
                    <div class="acc-info-content">
                        <table class="info-user">
                            <tr>
                                <th>Họ Tên:</th>
                                <td>{{users.full_name}}</td>
                            </tr>
                            <tr>
                                <th>Số Điện Thoại:</th>
                                <td>{{users.phone_number}}</td>
                            </tr>
                            <tr>
                                <th>Giới Tính:</th>
                                <td>{{users.sex}}</td>
                            </tr>
                            <tr>
                                <th>Năm Sinh:</th>
                                <td>{{users.birth_date}}</td>
                            </tr>
                            <tr>
                                <th>E-mail:</th>
                                <td>{{users.email}}</td>
                            </tr>
                            <tr>
                                <th>Trạng Thái:</th>
                                <td style="color: red; font-weight:700">{{users.status}}</td>
                            </tr>
                             <tr>
                                <th>Mô Tả:</th>
                                <td><p>{{users.description}}</p></td>
                            </tr>
                            <tr>
                                <th>Địa Chỉ Liên Hệ:</th>
                                <td>{{users.street}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
        <form method="POST" action="/account/update">
                <div id="update-info" class="update-info">
                    <div class="acc-content-header">
                        <h2>Cập Nhật Thông Tin Cá Nhân</h2>
                        <p>Quản lý thông tin hồ sơ để thuận tiện trao đổi</p>
                    </div>
                    <table class="update-user change-info">
                        <tr>
                            <th>Họ Tên:</th>
                            <td>
                                <input type="text" name="name" class="input-update update-name" value="{{users.full_name}}">
                            </td>
                        </tr>
                        <tr>
                            <th>Số Điện Thoại:</th>
                            <td>
                                <input type="text" name="phone" class="input-update update-phone" value="{{users.phone_number}}">
                            </td>
                        </tr>
                        <tr>
                            <th>Giới Tính:</th>
                            <td><select style="
                                font-size: 1.6rem;
                                height: 30px;
                                width: 60px;" name="sex">
                                    <option value="Nam">Nam</option>
                                    <option value="Nu">Nu</option>
                                </select></td>
                        </tr>
                        <tr>
                            <th>Năm Sinh:</th>
                            <td><input type="date" name="year" class="input-update update-birth" value="{{users.birth_date}}"></td>
                        </tr>
                        <tr>
                            <th>Địa Chỉ Liên Hệ:</th>
                            <td>
                                <div style="display: flex;">
                                    <input type="text" name="tinh" class="input-update update-city" placeholder="Tỉnh/Thành " value="{{users.city}}">
                                    <input type="text" name="quan" class="input-update update-district" placeholder="Quận/Huyện " value="{{users.district}}">
                                    <input type="text" name="phuong" class="input-update update-ward" placeholder="Phường/Xã " value="{{users.sub_district}}">
                                </div>
                                <input type="text" name="diachi" class="input-update update-address" placeholder="Ghi rõ số nhà, tên đường" value="{{users.street}}">
                            </td>
                        </tr>
                    </table>
                    <button class="btn-update btn-update-info">
                        CẬP NHẬT THÔNG TIN
                    </button>
                </div>
        </form>
    <form method="POST" action="/account/changepass">
                <div id="update-pass" class="update-pass">
                    <div class="acc-content-header">
                        <h2>Thay Đổi Mật Khẩu</h2>
                        <p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
                    </div>
                    <table class="update-user change-pass">
                        <tr>
                            <th>Nhập Mật Khẩu Cũ:</th>
                            <td>
                                <input name="passwordold" type="password" class="input-pass update-new-pass">
                            </td>
                        </tr>
                        <tr>
                            <th>Nhập Mật Khẩu Mới:</th>
                            <td>
                                <input name="passwordnew" type="password" class="input-pass update-new-pass">
                            </td>
                        </tr>
                    </table>
                    <button class="btn-update btn-pass">
                        Cập Nhật Mật Khẩu
                    </button>
                 </div>
    </form>
            </div>
        </div>
    <script type="text/javascript" src="assets/js/account.js"></script>