<div class="acc-container">
        <div class="list">
            <div class="acc-menu">
                <li class="acc-item" id="profile">
                <a href="#profile" class="acc-btn"><i class="far fa-user-circle"></i>Thông Tin Quản Tri Viên</a>
            <div class="smenu">
                <button id="show-admin" class="btn-info"> Thông Tin</button>
            </div>
        </li>
    </div>
    <div class="acc-menu">
        <li class="acc-item" id="setting">
            <a href="#setting" class="acc-btn"><i class="fas fa-cogs"></i>Quản Lý Hệ Thống</a>
            <div class="smenu">
                <button id="list-user" class="btn-info"> Danh Sách Người Dùng</button>
                <button id="update-all-user" class="btn-info"> Cập Nhật Người Dùng</button>
                <button id="info-system" class="btn-info"> Thông Tin Hệ Thống</button>
            </div>
        </li>
    </div>
    <div class="acc-menu">
        <li class="acc-item">
            <a href="" class="acc-btn">...</a>
        </li>
    </div>
    </div>
        <div class="acc-content">
            <div id="acc-main" class="acc-main">
                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5fafbb923393b712b96488590b8f781f.png" alt="">
                <h2>Trang Thông Tin Quản Trị Viên</h2>
            </div>
            <div id="admin-with-info" class="admin-with-info">
                <div class="admin-content-header">
                    <h2>Hồ Sơ Của Tôi</h2>
                    <p>Quản lý thông tin hồ sơ để thuận tiện trao đổi</p>
                </div>
                <div class="admin-info-content">
                    <table class="info-admin">
                        {{#each tempAdmin}}
                        <tr>
                            <th>Họ Tên:</th>
                            <td>{{this.full_name}}</td>
                        </tr>
                        <tr>
                            <th>Số Điện Thoại:</th>
                            <td>{{this.phone_number}}</td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td>{{this.email}}</td>
                        </tr>
                        <tr>
                            <th>Địa Chỉ Liên Hệ:</th>
                            <td>{{this.address}}</td>
                        </tr>
                        {{/each}}
                    </table>
                    </div>
            </div>
            <div id="list-all-user" class="list-all-user">
                <div class="admin-content-header">
                    <h2>Danh Sách Người Dùng</h2>
                </div>
                <table class="tbl-list-user">
                    <tr>
                        <th>ID Người Dùng</th>
                        <th>Tên Người Dùng</th>
                        <th>Số Điện Thoại</th>
                        <th>Trạng Thái</th>
                    </tr>
                    {{#each tempuser}}
                    <tr>
                        <td>{{this.acc_id}}</td>
                        <td>{{this.full_name}}</td>
                        <td>{{this.phone_number}}</td>
                        <td>{{this.status}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div id="update-profile-user" class="update-profile-user">
                <div class="admin-content-header">
                    <h2>Quản Lý Người Dùng</h2>
                </div>
                <div class="profile-repair">
                <form method="GET" action="/admin/find">
                    <div class="find-user">
                        <input type="text" name="findName" class="find-id" placeholder="Nhập tên người dùng">
                        <button class="submit-id">
                            <i class="fas fa-search submit-id-icon"></i>
                        </button>
                    </div>
                </form>
                    <table class="tbl-find-user">
                    <tr>
                        <th>Tên Đăng Nhập</th>
                        <th>Tên Người Dùng</th>
                        <th>Số Điện Thoại</th>
                        <th>Trạng Thái</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="" class="remove-user">
                                <i class="fas fa-trash-alt remove-icon"></i>
                            </button>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
            <div id="statistical-web" class="statistical-web">
                <div class="admin-content-header">
                    <h2>Quản Lý Hệ Thống</h2>
                </div>
                <ul class="statistical-item">
                    <li class="quantity-user show-element">
                        <i class="fas fa-users">
                            <span class="counter" >{{sum}}</span>
                        </i>
                        
                    </li>
                    <li>Tổng Số Người Dùng</li>
                </ul>
                <ul class="statistical-item">
                    <li class="give-user show-element">
                        <i class="fas fa-hand-holding-medical">
                            <span class="counter" >100000</span>
                        </i>
                    </li>
                    <li>Số Người Đang Cho</li>
                </ul>
                <ul class="statistical-item">
                    <li class="take-user show-element">
                        <i class="fas fa-heartbeat">
                            <span class="counter" >100000</span>
                        </i>
                        
                    </li>
                    <li>Số Người Muốn Nhận</li>
                </ul>
                <ul class="statistical-item">
                    <li class="exchange-user show-element">
                        <i class="fas fa-exchange-alt">
                            <span class="counter" >100000</span>
                        </i>
                        
                    </li>
                    <li>Đã Trao Đổi</li>
                </ul>   
            </div>
        </div>
</div>
<script src="/assets/js/admin.js"></script>